<script>

    (function() {

        var items = [1,2,3,4,5,6,7,8,9,10];
        var selected = [];

        var UpdateSeatController =  function(items,selected) {

                var toggle = function (item, list) {
                var idx = list.indexOf(item);
                if (idx > -1) {
                    list.splice(idx, 1);
                }
                else {
                    list.push(item);
                }
            };

            var exists = function (item, list) {
                return list.indexOf(item) > -1;
            };

        };

        angular.module('movieApp').controller('updateSeatController', [UpdateSeatController]);
    }());

</script>


<div ng-controller="updateSeatController" class="md-padding checkboxdemoSyncing" ng-cloak="" style="min-height:270px" ng-app="movieApp">

    <div layout="row" layout-wrap="">

        <div flex="1000" flex-gt-sm="" layout="column">
            <div>

                <fieldset class="standard">

                    <legend>Using md-checkbox with ng-checked </legend>
                    <div layout="row" layout-wrap="" flex="">
                        <div flex="50" ng-repeat="item in items">

                            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                {{ item }} <span ng-if="exists(item, selected)">selected</span>
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div flex="100" flex-gt-sm="50" layout="column">
            <div>
                <fieldset class="standard">
                    <legend>Using input type="checkbox"</legend>
                    <div layout="row" layout-wrap="" flex="">
                        <div ng-repeat="item in items" class="standard" flex="50">
                            <label>
                                <input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                {{ item }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div flex="100">
            <h2 class="md-title">Selected Items</h2>
            <code style="display: block; padding: 8px;">{{selected | json}}</code>
        </div>
    </div>


</div>