.checkboxdemoSyncing .checkboxDemo1 div {
    clear: both;
}

.checkboxdemoSyncing legend {
    color: #3F51B5;
}

.checkboxdemoSyncing legend code {
    color: #3F51B5;
    font-weight: normal;
}

.checkboxdemoSyncing p {
    padding-left: 30px;
}

.checkboxdemoSyncing .info {
    padding-left: 30px;
}

.checkboxdemoSyncing div.standard {
    padding: 20px;
    padding-left: 20px;
}

.checkboxdemoSyncing fieldset.standard {
    border-style: solid;
    border-width: 10px;
    height: 100%;
}