<div ng-controller="getTicketByShowingController as ctrl">
{{ctrl.ticket}}

    <div flex="100" flex-gt-sm="50" layout="column">
        <div>
    <fieldset class="standard">
        <legend>Using input type="checkbox"</legend>
        <div layout="row" layout-wrap="" flex="">
            <div ng-repeat="ticket in ctrl.tickets track by $index" class="standard" flex="50">
                <label>
                    <div ng-switch on = "ticket">
                        <div ng-switch-when="0">
                            <input type="checkbox" ng-checked="ctrl.exists(ticket, ctrl.selected)"  disabled>
                            {{ticket}}
                        </div>
                        <div ng-switch-default>
                             <input type="checkbox"  ng-checked="ctrl.exists(ticket, ctrl.selected)" ng-click="ctrl.toggle(ticket, ctrl.selected)">
                              {{ ticket }}
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </fieldset>
</div>

<div flex="100">
    <h2 class="md-title">Selected Items</h2>
    <code style="display: block; padding: 8px;">{{ctrl.selected | json}}</code>
</div>

</div>
    
</div>
