<div ng-controller="getCurrentMovieController as ctrl">
	<link rel="stylesheet" type="text/css" href="app/feature/movie/get/get-current-movies/get-current-movies.css">

	<div class="container-fluid" >
    	<div class="row">
	        <div class="col-lg-12">
	        	<div class="movies" id="wholeMovie" ng-repeat="movie in ctrl.movies" ng-init="ctrl.getShowings(movie.idMovie)">
		        	<div class="row show-grid">
		        		<div class="col-lg-2">
						      		<img class="img-responsive" ng-src="{{movie.posterURL}}">	
						</div>
						<div class="col-lg-10">
						<div class="movieTitle">
							<a id="clickable" ui-sref="seeonemovie({idMovie:{{movie.idMovie}}})">{{movie.title}}</a>
						</div>
							<div>{{movie.genre | lowercase}}</div>
						            <div>
						            	<div class="showing" ng-repeat="showing in ctrl.showings[movie.idMovie] | limitTo: 9">
						            		<div ng-init="newDate=ctrl.convertDate(showing.showingDate)">
						            			{{newDate}}, {{showing.startTime}}, {{showing.showingType}}
						            		</div>
						            	</div>
						            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
