<div ng-controller="createBookingController as ctrl">


	<div ng-init="ctrl.retriveBookingdetails(); ctrl.getPrice(ctrl.booking)">
		
	</div>
	{{ctrl.booking}}
	{{ctrl.booking.showing.showingType}}
	
	<br/>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				Student
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.studentNum=ctrl.decreaseNumber(ctrl.studentNum)">-</button>
			</div>
			<div class="col-lg-2">
				Quantity : {{ctrl.studentNum}}
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.studentNum=ctrl.incrementNumber(ctrl.studentNum)">+</button>
			</div>
			<div class="col-lg-3">
			Ticket Price : &pound {{ctrl.studentPrice}}
			</div>
			<div class="col-lg-3">
			Total Price : &pound {{(ctrl.studentPrice * ctrl.studentNum).toFixed(2);}}
			</div>
		</div>
	</div>
	<br/>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				Child
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.childNum=ctrl.decreaseNumber(ctrl.childNum)">-</button>
			</div>
			<div class="col-lg-2">
				Quantity : {{ctrl.childNum}}
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.childNum=ctrl.incrementNumber(ctrl.childNum)">+</button>
			</div>
			<div class="col-lg-3">
			Ticket Price : &pound {{ctrl.childPrice}}
			</div>
			<div class="col-lg-3">
			Total Price : &pound {{(ctrl.childPrice * ctrl.childNum).toFixed(2);}}
			</div>
		</div>
	</div>
	<br/>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				Adult
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.adultNum=ctrl.decreaseNumber(ctrl.adultNum)">-</button>
			</div>
			<div class="col-lg-2">
				Quantity : {{ctrl.adultNum}}
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.adultNum=ctrl.incrementNumber(ctrl.adultNum)">+</button>
			</div>
			<div class="col-lg-3">
			Ticket Price : &pound {{ctrl.adultPrice}}
			</div>
			<div class="col-lg-3">
			Total Price : &pound {{(ctrl.adultPrice * ctrl.adultNum).toFixed(2);}}
			</div>
		</div>
	</div>
	<br/>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				Concession
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.concessionNum=ctrl.decreaseNumber(ctrl.concessionNum)">-</button>
			</div>
			<div class="col-lg-2">
				Quantity : {{ctrl.concessionNum}}
			</div>
			<div class="col-lg-1">
				<button type="button" ng-click="ctrl.concessionNum=ctrl.incrementNumber(ctrl.concessionNum)">+</button>
			</div>
			<div class="col-lg-3">
			Ticket Price : &pound {{ctrl.concessionPrice}}
			</div>
			<div class="col-lg-3">
			Total Price : &pound {{(ctrl.concessionPrice * ctrl.concessionNum).toFixed(2);}}
			</div>
		</div>
	</div>
	<br/>
	
	<div>
	Final Price = &pound {{(ctrl.totalPrice)}}
	</div>
	
	<button ng-click="ticket.student.quantity=ctrl.studentNum;ticket.adult.quantity=ctrl.adultNum;
	ticket.child.quantity=ctrl.childNum; ticket.concession.quantity=ctrl.concessionNum; ticket.booking=ctrl.booking;
	 ctrl.saveBooking(ticket); ">Book Tickets</button>
	 {{ctrl.ticketArray}}
	
	



</div>