#but1 {
	
	border-style: solid;
	border-width: 2px;
	border-color: white;
	width: 50px;
	height: 50px;
}

#wholepage {
	font-size: 20px;
}

#seatNumberModal, #seatNumberModal2{
	color:black;
}

.h1 {
	font-color: white;
	font-weight: bold;
}

.h2 {
	font-color: white;
}

#money1 {
	font-size:18px;
	color: #5bc0de;
}

#textsection {
	border-style: solid;
}

#bookButton {
	border-style: solid;
	border-width: 3px;
	border-color: white;
	width: 300px;
	height: 70px;
	font-size:20px;
}

#codeButton {
	border-style: solid;
	border-width: 2px;
	border-color: white;
}

.btn {
	font-size: 20px;
}

button, input, optgroup, select, textarea {
	color: black;
}

#innerjumbo {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: Arial;
}
