<link rel="stylesheet" type="text/css" href="app/feature/home/home.css">
<div ng-controller="homeController as ctrl" style="position: relative">
	<h1>Welcome to QA Cinema</h1>


	<div class="row">
		<div ng-repeat="movie in ctrl.movies">
			<div ng-if="row|($movie.idMovie % 3 == 0)"></div>



			<div class="col-xs-12 col-sm-3">

				<img ui-sref='seeonemovie({idMovie:{{movie.idMovie}}})'
					class="img-responsive center-block" ng-src="{{movie.posterURL}}"
					alt="{{movie.title}}" />

			</div>
		</div>
	</div>
</div>