img.img-responsive{
	padding: 20px 8px;
	color: #333;	
}

img.img-responsive:hover {
	transform:scale(1.2,1.2);	
}

#bookButton {
	border-style: solid;
	border-width: 3px;
	border-color: white;
	width: 200px;
	font-size:15px;
}

.selectpicker {
	width: 200px;
}

input, label {
    display:block;
}

.vcenter {
        display: flex;
    align-items: center;
    margin-top: 8px;
}


#innerjumbo1 {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top:10px;
	padding-bottom:10px;
}

#innerjumbo2 {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top:20px;
	padding-bottom:20px;
}

#titlejumbo {
	background-color: rgba(7, 72, 146, 0.69);
	padding-right:10px;
	padding-left:10px;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom: 5px;
}

#cinemaSelect{
	color: black;
}