<div ng-controller="addUserController as ctrl">
	<div class="container-fluid">
		<h1>Add a new user</h1>
		<form role="form">
			<div class="form group">
				<label class="control-label" for="firstName">First Name:</label> <input class="form-control" type="text" id="firstName" placeholder="First Name" required="required" ng-model="user.firstName"></input>
			</div>
			<div class="form group">
				<label class="control-label" for="lastName">Surname:</label> <input class="form-control" type="text" id="lastName" placeholder="Surname" required="required" ng-model="user.lastName"></input>
			</div>
			<div class="form group">
				<label class="control-label" for="dob">Date of Birth</label> <input class="form-control" type="text" id="dob" placeholder="DD/MM/YY" required="required" ng-model="user.dob"></input>
			</div>
			<div class="form group">
				<label class="control-label" for="email">Email:</label> <input class="form-control" type="text" id="email" placeholder="Email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
					ng-model="user.email"
				></input>
			</div>
			<div class="form group">
				<label class="control-label" for="password">Password:</label> <input class="form-control" type="password" id="password" placeholder="Password" required="required"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="user.password"
				></input>
				<div class="alert alert-warning">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>
			</div>
			<button type="submit" ng-click="ctrl.addUser(user)">Add User</button>
		</form>
	</div>
</div>