
<div ng-controller="addTicketController as ctrl">

    <h1>Book a Ticket</h1>


    <form role="form">

        <select  ng-model="selectedMovie.idMovie" ng-init="ctrl.getMovies()" ng-change="ctrl.getShowings(selectedMovie.idMovie)">
            <option value="" disabled selected>Select Movie</option>
            <option ng-repeat="movie in ctrl.movies" value="{{movie.idMovie}}">{{movie.title}}</option>
        </select>


        <select  ng-model="ticket.showing.idShowing" ng-disabled="!selectedMovie.idMovie"   >
            <option value="" disabled selected>Select Showing</option>
            <option ng-repeat="showing in ctrl.showings" value="{{showing.idShowing}}" >{{showing.showingDate}} {{showing.startTime}}</option>
        </select>


        <input id="email" placeholder="Enter Email" ng-model="selectedUser.email" ng-change="ctrl.getUser(selectedUser.email)" >


		<!-- <button type="submit" ng-click="ticket.user.idUser=ctrl.idUser;ctrl.addTicket(ticket)">Book</button> -->
		<button type="submit" ng-click="ticket.user.idUser=ctrl.idUser; ctrl.saveBooking(ticket)"><a ui-sref="createbooking">Book</a></button>
        

    </form>

</div>