
<div ng-controller="addTicketController as ctrl">

    <h1>Book a Ticket</h1>

    <form role="form">

        <input id="tickettype" placeholder="tickettype" ng-model="ticket.ticketType">

        <select ng-model="ticket.showing.idShowing">
            <option value="1">Lego Batman 7pm
            <option value="2">Kong 7pm
            <option value="3">Logan 7pm
        </select>


        <select  ng-model="ticket.showing.idShowing"  ng-init="ctrl.getShowings(1)"  >
                <option ng-repeat="showing in ctrl.showings[1]" value="{{showing.idShowing}}">{{showing.starttime}}</option>
        </select>


        <input id="user" placeholder="user" ng-model="ticket.user.id">

        <button type="submit" ng-click="ctrl.addTicket(ticket)">Book</button>

    </form>

</div>