
<div ng-controller="addTicketController as ctrl">

    <h1>Book a Ticket</h1>


    <form role="form">


        <select ng-model="ticket.ticketType">
            <option value="" disabled selected>Select Ticket Type</option>
            <option value="Student">Student</option>
            <option value="Adult">Adult</option>
            <option value="Child">Child</option>
            <option value="Concession">Concession</option>
        </select>






        <select  ng-model="selectedMovie.idMovie" ng-init="ctrl.getMovies()" ng-change="ctrl.getShowings(selectedMovie.idMovie)">
            <option value="" disabled selected>Select Movie</option>
            <option ng-repeat="movie in ctrl.movies" value="{{movie.idMovie}}">{{movie.title}}</option>
        </select>


        <select  ng-model="ticket.showing.idShowing" ng-disabled="!selectedMovie.idMovie"   >
            <option value="" disabled selected>Select Showing</option>
            <option ng-repeat="showing in ctrl.showings" value="{{showing.idShowing}}" >{{showing.showingDate}} {{showing.startTime}}</option>
        </select>


        <input id="email" placeholder="Enter Email" ng-model="selectedUser.email" ng-change="ctrl.getUser(selectedUser.email)" >



        <button type="submit" ng-click="ticket.user.id=ctrl.idUser;ctrl.addTicket(ticket)">Book</button>

    </form>

</div>