<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>Movie application</title>
</head>
<body>


    <!-- Jquery modules-->
    <script src="scripts/jquery-2.1.4.min.js"></script>

    <!-- Angular modules-->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>

    <!-- Bootstrap modules-->
    <script src="scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scripts/bootstrap.min.css">
    
    <!-- Paypal -->
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    
    <!-- Local Storage -->
    <script src="scripts/angular-local-storage.js"></script>


    <!-- App and state manager-->
    <script src="app/app.js"></script>
    <script src="app/app-state-manager.js"></script>

    <!-- Services-->
    <script src="app/service/dal/dal.js"></script>
    <script src="app/service/dal/cinema.js"></script>
    <script src="app/service/dal/movie.js"></script>
    <script src="app/service/dal/user.js"></script>
    <script src="app/service/dal/showing.js"></script>
    <script src="app/service/dal/ticket.js"></script>
    <script src="app/service/dal/price.js"></script>
    <script src="app/service/dal/offer.js"></script>
    
    <!-- Factorys -->
    <script src="app/service/factory/bookingFactory.js"></script>
    <script src="app/service/factory/cinemaFactory.js"></script>
    <script src="app/service/factory/ticketFactory.js"></script>
     <script src="app/service/factory/userFactory.js"></script>
     <script src="app/service/factory/priceFactory.js"></script>
     <script src="app/service/factory/manyTicketFactory.js"></script>
     <script src="app/service/factory/backupTicketFactory.js"></script>

    <!-- Features-->
    <!--<script src="app/feature/dashboard/dashboard-controller.js"></script>-->
    <script src="index-controller.js"></script>
    <script src="app/feature/movie/get/get-current-movies/get-current-movies-controller.js"></script>
    <script src="app/feature/movie/get/get-one/get-one-movie-controller.js"></script>
    <script src="app/feature/home/home-controller.js"></script>
    <script src="app/feature/user/add-user/add-user-controller.js"></script>
    <script src="app/feature/screen/get/get-screen-by-cinema/get-screen-by-cinema-controller.js"></script>
    <script src="app/feature/cinema/get-cinema/get-all-cinemas/get-all-cinemas-controller.js"></script>
	<script src="app/feature/cinema/get-cinema/get-cinema-by-city/get-cinema-by-city-controller.js"></script>
    <script src="app/feature/ticket/add-ticket/add-ticket-controller.js"></script>
    <script src="app/feature/ticket/get/get-specific-ticket/get-specific-ticket-controller.js"></script>
    <script src="app/feature/ticket/get/get-ticket-by-showing/get-ticket-by-showing-controller.js"></script>
    <script src="app/feature/ticket/get/get-ticket-by-user/get-ticket-by-user-controller.js"></script>
    <script src="app/feature/ticket/create-booking/create-booking-controller.js"></script>
    <script src="app/feature/payment/paymentpage-controller.js"></script>
    <script src="app/feature/payment/paypalController.js"></script>

   


	<link rel="stylesheet" type="text/css" href="index.css">
	<div ng-controller="indexController as ctrl">
	



    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="homepage" class="navbar-left"><img src="resources/QACinema.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="seecurrentmovies({current:'current'})">What's On</a></li>
                    <li><a ui-sref="seecurrentmovies({current:'future'})">Coming Soon</a></li>
                    <li><a ui-sref="bookticket">Book a Ticket</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <div class="form-group">
                            <select id="cinemaSelect" ng-model="ctrl.idCinema" ng-change="ctrl.setCinema(ctrl.idCinema)">
                                <option value="" disabled selected>Select Cinema</option>
                                <option ng-repeat="cinema in ctrl.cinemas" value="{{cinema.idCinema}}">{{cinema.city}}</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li ng-if=!ctrl.isLoggedIn()><a ui-sref="adduser">Sign Up/Login</a></li>
                    <li ng-if=ctrl.isLoggedIn()><a href ng-click="ctrl.logout()">Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid" id="mainpage">
	    <div class="row">
			<div class="col-lg-3"></div>
		    	<div class="col-lg-6" id="view" ui-view></div>
		    <div class="col-lg-3"></div>
	    </div>
    </div>



</body>

<footer>
<div class="footer">
<ul>
      <span><a ui-sref="about-us">About us </a></span>
      <span><a ui-sref="contactus">Contact us</a></span>
      <span><a ui-sref="#">Classifications</a></span>
    </ul>
    <p>&copy; QA Cinemas. All rights reserved. </p>
</div>
</footer>

</html>
