body{
	background-image: url("resources/background.jpg");
	background-repeat: repeat-y;
    padding-top: 65px; 
} 

.navbar.navbar-inverse.navbar-static-top{
	margin-bottom: 0;
}

#view{
	color: white;
}



#movieArea{
	color:black	
}

#showingArea{
	color:black
}

#email{
	color:black
}