body{
	background-image: url("resources/background.jpg");
	background-repeat: repeat-y;
    padding-top: 65px; 
} 

.navbar.navbar-inverse.navbar-static-top{
	margin-bottom: 0;
}



#view{
	color: white;
}

#ticketEmail{
	color:black
}

#showingArea{
	color:black
}

#movieArea{
	color:black
}



.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
  color: #fff 
}

div span:not(:first-child){
    border-left:1px solid #000;
}


span {
    padding:0 20px;
}

p {
	font-size:13px


#movieArea{
	color:black	
}

