#wholePage{
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    background-color:rgba(0, 0, 0, 0.5);
}

#unavailable{
    color: grey;
}

.panel-default {
    border-color: #444;
    margin-top: 30px;
}

.panel-group .panel-heading {
    background-color: #111;
}

.panel-body {
    background-color: #111;
}