<div ng-controller="getOneMovieController as ctrl">

	<div class="container">
		<div class="row">
			<div class="span10 offset2">
				<div class="row">
					<div class="span12">
						<h1>{{ctrl.movie.title}}</h1>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<h3>{{ctrl.movie.releaseDate}}</h3>
						<h3>{{ctrl.movie.genre}}</h3>
						<h4>{{ctrl.movie.duration}}</h4>


						<table class="showingTable">
							<tr>
								<th>Start Time</th>
								<th>Seats available</th>
								<th>Showing Type</th>
							</tr>
							<tr ng-repeat="showing in ctrl.showings">
								<td><h4>{{showing.startTime}}</h4></td>
								<td><h4>{{showing.availableSeats}}</h4></td>
								<td><h4>{{showing.showingType}}</h4></td>

							</tr>
						</table>
						<div>
							<div ng-if='ctrl.movie.certification === "U"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_U_150px-height.png">
							</div>
							<div ng-if='ctrl.movie.certification === "PG"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_U_150px-height.png">
							</div>
							<div ng-if='ctrl.movie.certification === "12A"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_12_150px-height_0.png">
							</div>
							<div ng-if='ctrl.movie.certification === "12"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_12_150px-height_0.png">
							</div>
							<div ng-if='ctrl.movie.certification === "15"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_15_150px-height.png">
							</div>
							<div ng-if='ctrl.movie.certification === "18"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_18_150px-height.png">
							</div>
							<div ng-if='ctrl.movie.certification === "R18"'>
								<img class="certimg"
									ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_18_150px-height.png">
							</div>
						</div>
						<br />
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<img class="poster" ng-src="{{ctrl.movie.posterURL}}"
							style="width: 25%; height: 25%">
					</div>
					<div class=span6">
						<h2>{{ctrl.movie.description}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
