<div ng-controller="getOneMovieController as ctrl">

	<link rel="stylesheet" type="text/css" href="app/feature/movie/get/get-one/get-one-movie.css">

	<div class="container-fluid">
		<div class="row">
			<div id = "wholePage" class="span10 offset2">
				<div class="row">
					<div class="span10 offset 2">
						<h1>{{ctrl.movie.title}}</h1>
						<br/>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6" >
						<img class="poster center-block align-middle" ng-src="{{ctrl.movie.posterURL}}"
							style="width: 50%; ">
					</div>
					<div >
						<h3>{{ctrl.movie.description}}</h3>
					</div>
					<div class="row col-sm-6" >
						<div >
							<h3> Release - {{ctrl.movie.releaseDate}}</h3>
							<h3>{{ctrl.movie.genre}}</h3>
							<h4>{{ctrl.movie.duration}}</h4>
							<div>
								<div ng-if='ctrl.movie.certification === "U"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_U_150px-height.png">
								</div>
								<div ng-if='ctrl.movie.certification === "PG"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_U_150px-height.png">
								</div>
								<div ng-if='ctrl.movie.certification === "12A"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_12_150px-height_0.png">
								</div>
								<div ng-if='ctrl.movie.certification === "12"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_12_150px-height_0.png">
								</div>
								<div ng-if='ctrl.movie.certification === "15"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_15_150px-height.png">
								</div>
								<div ng-if='ctrl.movie.certification === "18"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_18_150px-height.png">
								</div>
								<div ng-if='ctrl.movie.certification === "R18"'>
									<img class="certimg"
										ng-src="http://www.bbfc.co.uk/sites/default/files/styles/40x40/public/certificate/BBFC_18_150px-height.png">
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="col-sm-12" >
						<div class="panel-group">
							<div class="panel panel-default">
								<a data-toggle="collapse" data-target="#collapse1">
									<div class="panel-heading">
										<h3 class="panel-title">
											Trailer
										</h3>
									</div>
								</a>
								<div id="collapse1" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="embed-responsive embed-responsive-16by9" >
											<iframe class = "embed-responsive-item" src="{{ctrl.trustedURL}}"></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="col-sm-12">
						<div>
							<div >
								<h2> Showings </h2>
							</div>
							<br/>
							<div class="table-responsive">
								<div ng-if = "!ctrl.idCinema" >
									<h4>Please select a cinema</h4>
								</div>
								<table ng-if = "ctrl.idCinema" class="table table-bordered ">

									<tr>
										<th>Type</th>
										<th>Date</th>
										<th>Start Time</th>
										<th>Book</th>

									</tr>
									<tr ng-repeat="showing in ctrl.showings | limitTo:10">
										<td><h4>{{showing.showingType}}</h4></td>
										<td><h4>{{showing.showingDate}}</h4></td>
										<td><h4>{{showing.startTime}}</h4></td>
										<td ng-if = 'showing.availableSeats > 0'><h4>
											<a ui-sref="createbooking" ng-click="ticket.showing = showing; ticket.user.idUser=ctrl.user.idUser; ctrl.saveBooking(ticket)">
												Book Now!
											</a></h4></td>
										<td id = 'unavailable' ng-if = 'showing.availableSeats <= 0'><h4> Fully Booked </h4></td>
									</tr>
								</table>
							</div>

							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
